In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType, DoubleType

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .config('spark.ui.port', '4050') \
    .getOrCreate()

23/08/12 20:59:54 WARN Utils: Your hostname, MacBook-Pro-de-Plugify.local resolves to a loopback address: 127.0.0.1; using 192.168.1.3 instead (on interface en0)
23/08/12 20:59:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/12 20:59:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
json_file_path = "./imoveis.json"

df = spark.read.json(json_file_path)

In [7]:
df\
    .select('ident.customerID', 'listing.types.*', 'listing.features.*', 'listing.address.*', 'listing.prices.price', 'listing.prices.tax.*')\
    .toPandas()

,customerID,unit,usage,bathrooms,bedrooms,floors,parkingSpaces,suites,totalAreas,unitFloor,unitsOnTheFloor,usableAreas,city,location,neighborhood,zone,price,condo,iptu
0,775564-BOJSMVON,Outros,Residencial,0,0,0,1,0,62,0,0,62,Rio de Janeiro,"(-22.909429, -43.413557)",Taquara,Zona Oeste,45000,150,0
1,660895-AUENKNYY,Apartamento,Residencial,1,2,0,1,0,0,0,0,44,Rio de Janeiro,"(-22.869698, -43.509141)",Santíssimo,Zona Oeste,45000,120,0
2,751522-JESYFEQL,Outros,Residencial,0,0,0,0,0,132,0,0,132,Rio de Janeiro,"(-22.986927, -43.646786)",Pedra de Guaratiba,Zona Oeste,50000,100,0
3,714052-GAAEWYKS,Outros,Comercial,1,0,0,0,0,32,3,0,32,Rio de Janeiro,"(-22.881977, -43.330818)",Cascadura,Zona Norte,45000,468,346
4,568886-ZIBFOMCC,Apartamento,Residencial,2,3,3,1,1,0,2,4,60,Rio de Janeiro,"(-23.027653, -43.480742)",Recreio dos Bandeirantes,Zona Oeste,50000,400,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73610,134148-MJIBCMDQ,Casa,Residencial,10,5,0,4,1,1024,0,0,1024,Rio de Janeiro,"(-23.00396, -43.388906)",Barra da Tijuca,Zona Oeste,10000000,2350,2900
73611,541465-QBQVXXXZ,Casa,Residencial,7,5,0,6,5,1250,0,0,750,Rio de Janeiro,"(-23.000902, -43.395032)",Barra da Tijuca,Zona Oeste,10000000,3000,15000
73612,800542-BZREFTQS,Apartamento,Residencial,5,4,0,3,4,328,0,0,328,Rio de Janeiro,"(-22.987018, -43.189682)",Copacabana,Zona Sul,10000000,None,None
73613,939419-ECGUNTIH,Casa,Residencial,10,5,0,4,5,1024,3,0,1024,Rio de Janeiro,"(-23.005037, -43.351836)",Barra da Tijuca,Zona Oeste,10000000,2400,35000
73614,610503-VULDJJZZ,Apartamento,Residencial,8,5,3,6,5,730,0,1,730,Rio de Janeiro,"(-23.009397, -43.31774)",Barra da Tijuca,Zona Oeste,10000000,1800,26000

In [4]:
df.printSchema()

root
 |-- ident: struct (nullable = true)
 |    |-- customerID: string (nullable = true)
 |    |-- source: string (nullable = true)
 |-- listing: struct (nullable = true)
 |    |-- address: struct (nullable = true)
 |    |    |-- city: string (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- lat: double (nullable = true)
 |    |    |    |-- lon: double (nullable = true)
 |    |    |-- neighborhood: string (nullable = true)
 |    |    |-- zone: string (nullable = true)
 |    |-- features: struct (nullable = true)
 |    |    |-- bathrooms: long (nullable = true)
 |    |    |-- bedrooms: long (nullable = true)
 |    |    |-- floors: long (nullable = true)
 |    |    |-- parkingSpaces: long (nullable = true)
 |    |    |-- suites: long (nullable = true)
 |    |    |-- totalAreas: string (nullable = true)
 |    |    |-- unitFloor: long (nullable = true)
 |    |    |-- unitsOnTheFloor: long (nullable = true)
 |    |    |-- usableAreas: string (nullable = true)
 |    |-- prices: struct (nullable = true)
 |    |    |-- price: string (nullable = true)
 |    |    |-- tax: struct (nullable = true)
 |    |    |    |-- condo: string (nullable = true)
 |    |    |    |-- iptu: string (nullable = true)
 |    |-- types: struct (nullable = true)
 |    |    |-- unit: string (nullable = true)
 |    |    |-- usage: string (nullable = true)